* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.element-screen-2 {
    width: 33.33%;
    padding: 35px 60px 0px;
    color:rgb(63, 61, 86);
    h2{
      font-size: 24px;
    margin-bottom: 15px;
    }
    p{
      font-size: 16px;
      color: #898989;
      line-height: 25px;
      font-weight: 300;
      margin-bottom: 45px;
    }
}