* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*Ipad ngang(1024 x 768)*/
@media all and (max-width: 1024px){
    
}
/*Ipad dọc(768 x 1024)*/
@media all and (max-width: 768px){
    .footer{
        padding-top: 150px !important ;
    }
    .container-footer{
        flex-wrap: wrap;
        height: auto !important;
    }
    .block-element-footer{
        width: 50% !important;
        height: auto !important;
        margin-bottom: 30px !important;
        // margin-left: 10px !important;
        img{
            width: 50%;
        }
    }
    .copyright-footer{
        padding: 0px 40px !important ;
    }
}
/*Tablet nhỏ(480 x 640)*/
@media all and (max-width: 480px){
    
}

@media all and (max-width: 320px){
    .footer{
        padding-top: 50px !important ;
    }
    .container-footer{
        flex-wrap: wrap;
        height: auto !important;
    }
    .block-element-footer{
        width: 50% !important;
        height: auto !important;
        margin-bottom: 30px !important;
        img{
            width: 100%;
        }
    }
    .copyright-footer{
        padding: 0px 40px !important ;
    }
}

  .footer{
      width: 100%;
    padding-top: 90px ;
    padding-bottom: 40px ;
    background-color: #3f3d56 ;
    color: #bebbdc;
    font-family: 'Roboto';
  }
  .container-footer{
      display: flex;
  }
  .block-element-footer{
      width: 25%;
      height: 239px;
      padding: 17.5px 32.5px 17.5px;
      p{
          font-size: 15px;
          line-height: 25px;
          margin-top: 17px;
          font-weight: 300;
      }
      h3{
          color: white;
          font-size: 16px;
          margin-bottom: 20px;
      }
      .hover-footer{
          li{
              font-size: 15px;
              line-height: 25px;
              font-weight: 300;
              transition: .3s ease-in-out;
              cursor: pointer;
          }
      }
  }
.hover-footer>li:hover{
    color: #ee2c35;
}
  .about-footer{
      margin-top: 22px;
      li{
        font-size: 15px;
        line-height: 25px;
        font-weight: 300;
          margin-bottom: 15px;
         .icon-about-footer{
             margin-right: 22px;
             transform: scale(1.12);
         }
      }

  }

  .copyright-footer{
      padding: 17.5px;
      font-size: 12px;
      color:#9895b3;
      font-weight: 400;
      margin-top: 10px;
      text-align: center;
  }