* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
ul {
    list-style: none;
} 
/*Ipad ngang(1024 x 768)*/
@media all and (max-width: 1024px){
    .show-menu-header{
        display: block !important;
    }  
    .nav-list{
        display: none !important;
    }
}
/*Ipad dọc(768 x 1024)*/
@media all and (max-width: 768px){
    .header{
        width: 100% !important;
    }
    .show-menu-header{
        padding-right: 7% !important;
    }
}
/*Tablet nhỏ(480 x 640)*/
@media all and (max-width: 480px){
    
}

@media all and (max-width: 320px){
    .show-menu-header{
        padding-right: 7% !important;
    }
}

.header {
    visibility: hidden;
    background-color: white;
    position: fixed;
    height: 80px;
    width: 100vw;
    box-shadow: 0 15px 25px -7px rgba(0,0,0,.09), 0 -12px 10px -10px rgba(0,0,0,.04);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.img-logo{
    margin-left: 5.5%;
    a{
        cursor: pointer;
    }
}
.nav-list {
    display: flex;
    margin-right: 4vw;
}
.nav-list>li {
    padding: 0px 18px;
    cursor: pointer;
    a{
        font-weight: 700;
        text-decoration: none;
        color: #464646;
        font-family: "Roboto";
        font-size: 15px;
    }
    .icon-search{
        color: #464646;
        padding-top: 5px;
        margin-left: 12px;
        transform: scale(1.5);
    }

}
.nav-list>li:hover a{
    color: rgb(238, 44, 53);
    transition: 0.5s ease;
}

.show-menu-header{
    display: none;
    color: black;
    transform: scale(2);
    padding-right: 5%; 
    cursor: pointer;
}