* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*Ipad ngang(1024 x 768)*/
@media all and (max-width: 1024px){
    .screen-6{
        padding-left: 70px !important;
    }
}
/*Ipad dọc(768 x 1024)*/
@media all and (max-width: 768px){
    .screen-6{
        height: auto !important;

    }
    .list-clients-screen-6{
        flex-direction: column !important;
    }
    .element-client-screen-6{
        padding: 0px 240px 40px 160px !important;
        text-align: center !important;
    }
    .header-screen-6{
        margin-left: -70px !important;
    }
}
/*Tablet nhỏ(480 x 640)*/
@media all and (max-width: 420px){
    .screen-6{
        padding-left: 30px !important;
    }
    .header-screen-6{
        margin-left: 0px !important;
    }
    .element-client-screen-6{
        padding: 0px 70px 40px 50px !important;
        text-align: center !important;
    }
}

@media all and (max-width: 320px){
    
    .screen-6{
        height: auto !important;
        padding-left: 0px !important;

    }
    .list-clients-screen-6{
        flex-direction: column !important;
    }
    .element-client-screen-6{
        padding: 0px 20px 40px 20px !important;
        text-align: center !important;
    }
}

  .screen-6{
      width: 100%;
      height: 659px;
      padding-left: calc(100vw/2 - 1200px/2 - 7.5px);
      padding-right: calc(100vw/2 - 1200px/2 - 7.5px);
      padding-top: 100px;
      padding-bottom: 75px ;
      font-family: 'Roboto';
  }
.header-screen-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3F3D56;
    margin: 0px 15px 70px;
    h2{
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        font-style: italic;;
    }
}
.list-clients-screen-6{
      display: flex;
  }

  .element-client-screen-6{
      padding: 0px 100px 0px 15px ;
      img{
          margin-bottom: 10px;
      }
      p{
          line-height: 25px;
          color: #707070;
            font-size: 16px;
      }
      h2{
          font-size: 18px;
          font-weight: 700;
          color: #3F3D56;
          margin-top: 20px;
          margin-bottom: 10px;
      }
      em{
          font-size: 14px;
          color: #3F3D56;
          font-weight: 300;
          font-style: italic;
      }
    }
