* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*Ipad ngang(1024 x 768)*/
@media all and (max-width: 1024px){
    
}
/*Ipad dọc(768 x 1024)*/
@media all and (max-width: 768px){
    
}
/*Tablet nhỏ(480 x 640)*/
@media all and (max-width: 420px){
  .screen-5{
    height: auto !important;

  }
  .container-screen-5{
    justify-content: center !important;
    padding: 0px 50px 0px !important;
    text-align: center !important;
    span{

      line-height: 40px !important;
    }
  }
  .email-box-screen-5{
    form{
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
    }
  }
  .email-btn-screen-5{
    margin-top: 30px !important;
    position: relative !important;
    width: 50% !important;
    right: 0 !important;
    padding-left: 30px !important;
  }
}

@media all and (max-width: 320px){
    .screen-5{
      height: auto !important;

    }
    .container-screen-5{
      justify-content: center !important;
      padding: 0px 50px 0px !important;
      text-align: center !important;
      span{

        line-height: 40px !important;
      }
    }
    .email-box-screen-5{
      form{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
      }
    }
    .email-btn-screen-5{
      margin-top: 30px !important;
      position: relative !important;
      width: 50% !important;
      right: 0 !important;
      padding-left: 30px !important;
    }
}

  .screen-5{
    position: relative;
    width: 100%;
    background-image: url('../img/screen5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 478px;
    padding-top: 90px !important;
    padding-bottom: 140px !important;
    
  }
  .container-screen-5{
    padding: 35px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    color: white;
    line-height: 25px;
    span{
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 30px;
      em{
        font-family: 'Philosopher';
        color: #ff414a;
        font-style: italic;
        letter-spacing: 0.1rem;
      }
    }
    p{
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
    }
  }
  .email-box-screen-5{
    position: relative;
    margin-top: 55px;
    max-width: 560px;
    width: 100%;
    padding: 0px 15px;
    // display: flex;
    .email-text-screen-5{
      width: 100%;
      height: 45px;
      line-height: 45px;
      padding-left: 40px;
      padding-right: 40px;
      font-style: italic;
      font-size: 14px;
      color: #ffffff;
      outline: none;
      background-color: #626075;
      border-color: rgba(0,0,0,0.01);
      border-radius: 100px;
      border-width: 0px;
      font-weight: 500;
      transition: 0.3s ease-in-out;
      }
    .email-btn-screen-5{
      position: absolute;
      right: 15px;
      top: 0;
      padding-left: 35px;
      padding-right: 35px;
      height: 45px;
      line-height: 45px;
      color: #3f3d56;
      background-color: #ffffff;
      text-transform: none;
      border-color: #ffffff;
      border-width: 2px;
      border-style: solid;
      border-radius: 100px;
      font-weight: 700;
      font-size: 14px;
      transition: 0.25s ease-in-out;
      outline: none;
      cursor: pointer;
    }
  }
  .email-text-screen-5::placeholder{
    color: #ffffff;
    opacity: 1;
  }
  .email-text-screen-5:hover,
  .email-text-screen-5:focus{
    background-color: #55526a;
  }
  .email-btn-screen-5:hover{

    color: #ffffff;
    background-color: #ff414a;
    border-color: #ff414a;
  }