
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
ul {
    list-style: none;
}
/*Ipad ngang(1024 x 768)*/
@media all and (max-width: 1024px){
  .show-menu-screen-1{
      display: block !important;
  }  
  .header-screen-1{
      height: 80px !important;
  }
  .menu-list{
      visibility: hidden;
        display: block !important;
      position: fixed;
      z-index: 65;
      width: 100%;
      top: 80px;
      right: 0;
      margin: 0 !important;
      text-align: start;
      height: 35vh;
      background-color: rgb(35, 35, 35);
      li{
          height: 20%;
          margin: 0px 8% !important;
          border-bottom: 1px solid  rgb(208, 208, 215);
          display: flex;
          align-items: center;
          a{
              font-size: 14px;
              font-weight: 300 !important;
          }
        
      }
      :last-child{
          border-bottom: none;
          display: flex;
          justify-content: space-between;
      }
  }
.menu-list>li:last-child::before{
    content: "Search here..";
    color: white;
    font-weight: 700;
    font-size: 22px;
}

.slogan{
    margin-top: 30vh !important;
}

}
/*Ipad dọc(768 x 1024)*/
@media all and (max-width: 768px){
    .slogan{
        padding: 0px 90px;
        margin-top: 25vh !important;
        h2{

            font-size: 54px !important;
        }
    }

}
/*Tablet nhỏ(480 x 640)*/
@media all and (max-width: 420px){
    .slogan{
        margin-top: 15vh !important;
        padding: 0px 50px;
    }
}

@media all and (max-width: 320px){
    .header-screen-1{
        height: 70px !important;
        width: 100vw !important;
    }
    .slogan{
        margin-top: 10vh !important;
        h2{
            font-size: 54px !important;
            line-height: 55px !important;
        }
    }
    .img-logo-screen-1{
        padding: 30px !important;
    }
}



.show-menu-screen-1{
    display: none;
    color: white;
    transform: scale(2);
    margin-right: 10%; 
    cursor: pointer;
}




 .screen-1 {
     width: 100%;
     height: 100vh;
     background-image: url(../img/background1.jpg);
     background-size: cover;
     background-position: center;
 }
.header-screen-1 {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-logo-screen-1 {
    cursor: pointer;
    margin-left: 2%;
    padding: 50px;
    width: 30vw;

}
.menu-list {
    display: flex;
    margin-right: 4vw;
  
}
.menu-list>li {
    padding: 0px 18px;
    cursor: pointer;
    a{
        font-weight: 700;
        text-decoration: none;
        color: white;
        font-family: "Roboto";
        font-size: 15px;
    }
    .icon-search-menu{
        color: white;
        padding-top: 5px;
        margin-left: 12px;
        transform: scale(1.5);
    }

}
.menu-list>li:hover a{
    color: rgb(238, 44, 53);
    transition: 0.5s ease;
}
.slogan {
    margin-top: 18px;
    color: white;
    text-align: center;

    h2{
        font-size: 66px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        font-family: "Roboto";
    }
    .solgan-above{
        margin-bottom: -12px;
    }
    span{
        em{
                color: #ff414a;
                font-family: 'Philosopher', sans-serif;
                font-weight: 700;
                font-style: italic;
         
        }
    }
    
}