* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .screen-7{
    margin-left: calc(100vw/2 - 1200px/2 - 7.5px);
    margin-right: calc(100vw/2 - 1200px/2 - 7.5px);
  }
  .box-logo-screen-7{
      margin-top: 30px;
      display: flex;
      justify-content: space-around;
      height: 71px;
      align-items: center;

      .logo-screen-7{
        width: 240px;
        padding: 0px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  }
  .space-divider{
      height: 70px;
      border-bottom: 2px solid #f7f6fd;

  }
  .contact-screen-7{
      padding: 70px 0px 75px;
      display: flex;
      justify-content: space-between;
  }
  .box-text-screen-7{
    width: 450px;
    overflow: hidden;
  }

/* animation left */
  .text-fadeInLeft-screen-7{
    animation: animation-left-screen-7 0.8s ease-in-out;
  }
  @keyframes animation-left-screen-7{
    0%{
      margin-left: -400px;
    }
    100%{
      margin-left: 0;
    }
  }


.text-screen-7{
      display: flex;
      flex-direction: column;
      font-size: 43px;
      font-family: 'Roboto';
      color: #3f3d56;
      font-weight: 700;
          em{
              font-family: 'Philosopher', sans-serif;
              color: #ff414a;
          }
      }
      .box-btn-screen-7{
        overflow: hidden;
        width: 138px;
        height: 44px;
        margin-top: 30px;
    }  
    .btn-screen-7{
      font-size: 14px;
      width: 138px;
      height: 44px;
      background-color: #ff414a;
      outline: none;
      border: none;
      color: white;
      font-weight: bold;
      border-radius: 35px;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      font-weight: 700;
  }
  .btn-screen-7>button:hover{
    background-color: rgb(238, 44, 53);
  }

.btn-fadeInRight-screen-7{
    animation: animation-right-screen-7 0.8s ease-in-out;
}
/* animation right */
@keyframes animation-right-screen-7{
  0%{
    margin-left: 300px;
  }
  100%{
    margin-left: 0;
  }
}